<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
</head>
<body>
{% if error_msg %}
    {{ error_msg }}
{% endif %}
<form method="post" action="/auth/login">
    {{ login_form.username.label }}{{ login_form.username(id = 'username') }}<br>
    {{ login_form.password.label }}{{ login_form.password(id = 'password') }}<br>
    {{ login_form.re_password.label }}{{ login_form.re_password(id = 're_password') }}<br>
    {{ login_form.email.label }}{{ login_form.email(id = 'email') }}<br>
    {{ login_form.remember_me.label }}{{ login_form.remember_me(id='remember') }}
    {{ login_form.submit }}
</form>


</body>
</html>