{% extends "base.html" %}
{% block title %}
    首页
{% endblock %}
{% block content %}
    <style>
        body .content {
            width: 100%;
        }
        body .content .categories{
            background-color: #2A2935;
            height:100%;
            position:fixed;
            top:80px;
            left: 0px;
            margin-bottom: 80px;
            padding:40px 0 0 0 ;
            float:left;
            background-color:#2A2935;
        }
        body .content div .nav-bar-tab{
            padding-right:10px;
            line-height:40px;
            text-align: right;
            font-size:16px;
            display: block;
            color: #999;
        }
        body .content div .nav-bar-tab:hover{
            background-color:#1e1d26;
            border-right:solid 3px #32D3C3;
            cursor: pointer;
            text-decoration: none;
        }
        body .content div a{
            text-decoration: none;
        }
    </style>
<div class="content row">
    <div class="hidden-xs col-sm-3 col-md-2 col-lg-2 categories">
        <a href="/"><span class="nav-bar-tab" id="cate_0">最新文章</span></a>
        {% for cate in categories %}
            <a href="/category/{{ cate.id }}"><span class="nav-bar-tab" id="cate_0">{{ cate.cate_name }}</span></a>
        {% endfor %}
        <a href="/about_me"><span class="nav-bar-tab" id="cate_0">关于数据狗</span></a>
        <a href="/"><span class="nav-bar-tab" id="cate_0">我要投稿</span></a>
    </div>
</div>
{% endblock %}