body .content {
    width: 100%;
}
body .content .categories{
    background-color: #2A2935;
    height:100%;
    position:fixed;
    top:80px;
    left: 0px;
    margin-bottom: 80px;
    padding:40px 0 0 0 ;
    float:left;
    background-color:#2A2935;
}
body .content div .nav-bar-tab{
    padding-right:10px;
    line-height:50px;
    text-align: right;
    font-size:16px;
    display: block;
    color: #999;
}
body .content div .nav-bar-tab:hover{
    background-color:#1e1d26;
    border-right:solid 3px #32D3C3;
    cursor: pointer;
    text-decoration: none;
}
body .content div a{
    text-decoration: none;
}

