{% extends "base.html" %}
{% block title %}
    管理——分类
{% endblock %}
{% block content %}
<link href="{{ url_for('static',filename='css/content.css') }}" rel="stylesheet">
<div class="content container row">
    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 categories">
        <a href="/admin/category"><span class="nav-bar-tab" id="cate_0">分类管理</span></a>
        <a href="/admin/article"><span class="nav-bar-tab" id="cate_0">文章管理</span></a>
        <a href="/admin/account"><span class="nav-bar-tab active" id="cate_0">管理员账号</span></a>
    </div>
    <div class="col-xs-offset-4 col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-xs-8 col-sm-9 col-md-10 col-lg-10"  style="padding: 20px 0px 10px 40px;" >
                {% if info %}
            <div class="alert alert-warning">{{ info }}</div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">作者列表</div>
            <div class="panel-body">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>作者名称</th>
                      <th>创建时间</th>
                      <th>修改时间</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for author in authors %}
                        <tr>
                            <td>{{ author.id }}</td>
                            <td>{{ author.name }}</td>
                            <td>{{ author.create_time }}</td>
                            <td>{{ author.create_time }}</td>
                            <td>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                                        data-id="{{ author.id }}"
                                        data-name="{{ author.name }}"
                                        data-createtime="{{ author.create_time }}"
                                        data-modifytime="{{ author.create_time }}"
                                >删除</button>
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modifyModal"
                                        data-id="{{ author.id }}"
                                        data-name="{{ author.name }}"
                                        data-createtime="{{ author.create_time }}"
                                        data-modifytime="{{ author.create_time }}"
                                >修改</button>
                            </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
        <button type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#addModal">
            <span class="glyphicon glyphicon-plus"></span>
            新建作者
        </button>
    </div>
</div>
<!-- 删除类目 -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="deleteModalLabel">删除类目</h4>
            </div>
            <div class="modal-body">
                <form action="/admin/account/delete" method="post">
                    <div class="form-group">
                        <label for="author_id" class="control-label">类目ID:</label>
                        <input type="text" class="form-control" id="author_id" readonly name="author_id">
                    </div>
                    <div class="form-group">
                        <label for="author_name" class="control-label">作者名称:</label>
                        <input type="text" class="form-control" id="author_name" readonly name="author_name">
                    </div>
                    <div class="form-group">
                        <label for="author_create_time" class="control-label">添加时间:</label>
                        <input type="text" class="form-control" id="author_create_time" readonly name="author_create_time">
                    </div>
                    <div class="form-group">
                        <label for="author_modify_time" class="control-label">修改时间:</label>
                        <input type="text" class="form-control" id="author_modify_time" name="author_modify_time" readonly>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal" required autofocus>取消</button>
                        <input type="submit" class="btn btn-danger" value="确认删除">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- 修改类目 -->
<div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="modifyModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="modifyModalLabel">删除类目</h4>
            </div>
            <div class="modal-body">
                <form action="/admin/account/update" method="post">
                    <div class="form-group">
                        <label for="author_id" class="control-label">类目ID:</label>
                        <input type="text" class="form-control" id="author_id" readonly name="author_id">
                    </div>
                    <div class="form-group">
                        <label for="author_name" class="control-label">作者名称:</label>
                        <input type="text" class="form-control" id="author_name" name="author_name">
                    </div>
                    <div class="form-group">
                        <label for="author_create_time" class="control-label">添加时间:</label>
                        <input type="text" class="form-control" id="author_create_time" readonly name="author_create_time">
                    </div>
                    <div class="form-group">
                        <label for="author_modify_time" class="control-label">修改时间:</label>
                        <input type="text" class="form-control" id="author_modify_time" name="author_modify_time" readonly>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">取消</button>
                        <input type="submit" class="btn btn-danger" value="确认修改">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div><!-- 新增类目-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="addModalLabel">新建作者</h4>
            </div>
            <div class="modal-body">
                <form action="/admin/account/add" method="post">
                    <div class="form-group">
                        <label for="author_name" class="control-label">作者名称</label>
                        <input type="text" class="form-control" id="author_name" name="author_name" required autofocus>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                        <input type="submit" class="btn btn-success" value="确认新建">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);    // 触发事件的按钮
        var cate_id = button.data('id');        // 解析出data-whatever内容
        var cate_name = button.data('name');    // 解析出data-whatever内容
        var create_time = button.data('createtime');
        var modify_time = button.data('modifytime');
        var modal = $(this);
        modal.find('#author_id').val(cate_id);
        modal.find('#author_name').val(cate_name);
        modal.find('#author_create_time').val(create_time);
        modal.find('#author_modify_time').val(modify_time);
    });

    $('#modifyModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);    // 触发事件的按钮
        var cate_id = button.data('id');        // 解析出data-whatever内容
        var cate_name = button.data('name');    // 解析出data-whatever内容
        var create_time = button.data('createtime');
        var modify_time = button.data('modifytime');
        var modal = $(this);
        modal.find('#author_id').val(cate_id);
        modal.find('#author_name').val(cate_name);
        modal.find('#author_create_time').val(create_time);
        modal.find('#author_modify_time').val(modify_time);
    });
</script>
{% endblock %}